#wrap body{
  display: block;
  position: relative;
}
.box{
  display: block;
  background: rgb(255, 0, 0);
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 800px){
  .box{
    width: 200px;
    height: 200px;
  }
}